.CharacterList {
  grid-row: main;
  grid-column: width;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  overflow: hidden;
  align-content: space-around;
  gap: 20px;
}

.renderCharacter {
  padding: 20px;
  border-style: solid;
  border-color: #111440;
  border-width: 2px;
  border-radius: 10px;
  /* justify-content: space-around; */
}

.Dead {
  background-color: silver;
}

.Alive {
  background-color: #111440;
}

.unknown {
  background-color: snow;
}
