.Header {
  /* Header tag */
  background-color: #111440;
  width: 100vw;
  margin: 0 auto;
  height: 100%;
}

.Logo {
  /* Logo tag */
  height: 70px;
  width: auto;
  margin-left: 50px;
}

.headerComponent {
  /* Header Component */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 0;
  height: 100px;
}
